*{
  
    margin: 0;
    font-family: 'Alkatra', cursive;
}
body{
    background-image: url(https://img.freepik.com/vector-premium/fondo-onda-estilo-minimalista_278222-572.jpg?w=2000);
}
.top {
    height: 63px;
    width: 100%;
    background-color: #211b2e;


}

.log {
    height: 62px;
    width: 185px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    background-color: #9064f0;
    position: relative;
    box-shadow: 5px -1px 5px #1a0646;
    position: relative;
    float: left;


}

.log img {
    height: 62px;
    margin-left: 10px;

}

.log2 {
    position: relative;
    float: right;
    margin-left: 700px;
}

.log2{
    float: right;
    margin-right: 30px;
    color: #350750;
}

.but {
    margin-top: 10px;
    height: 35px;
    width: 120px;
    border-radius: 30px;
    text-align: center;
    background-color: #9064f0;
    box-shadow: 5px -1px 5px #1a0646;
    float: left;
    padding-top: 8px;
    margin-right: 20px;
}
.but a{
    
    text-decoration: none;
    color: #1a0441;
    
}

.log:hover {
    width: 225px;
    background: #dfd2fa;
    transition: 1s;
}

.but:hover {
    width: 130px;
    background-color: #dfd2fa;
    transition: 1s;
    color: rgb(23, 2, 36);
}
.contain{
    width: 500px;
    height: 500px;
    text-align: center;
    background:linear-gradient(#ba43df,#ce9bf0);
    align-items: center;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 400px;
    box-shadow: 5px 5px 5px ;

}


.contain .datos{
    border-style: solid;
    border-left: unset;
    border-right: unset;
    border-top: unset;;
    border: bottom 5px ;
    border-color: #1a0646;
    color:rgb(11, 4, 42);
    background-color:transparent ;
    width: 400px;
    margin: 40px;
    height: 30px;   


}
.contain .datos::placeholder{
    color: #05000d;
}
.contain img{
    width: 200px;
    padding-top: 20px;
}

.contain input:focus{
    outline: none;
    box-shadow: 2px 2px 5px #8628f1;
    border: bottom 5px #6016d8;
}
button{
    border-radius: 5px;
    background-color: #9064;
}
.contain a{
    color: #05000d;
    margin-top: 10px;
  
}
.contain a button{
    background-color: #05000d;
}